*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   width: 100%;
   height: 100vh;
}
.titles{
   width: 100%;
   height: 120px;
   background-color: aqua;
   display: flex;
   justify-content: center;
   align-items: center;
}
.descs{
   width: 100%;
   min-height: calc(100% - 105px);
   background-color: lightgoldenrodyellow;
}
#lists{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.imgBoxs{
   width: 80%;
   display: grid;
   grid-template-columns: repeat(10,1fr);
   grid-gap: 5px;
}
.imgBox{   
   height: 150px;
   border: 1px solid lightgray;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   transition: ease 0.25s;
   cursor: pointer;
}
.imgBox:hover{
   transform: translate(0px,-5px);
}